body {
  background-color: aqua;
}
#heading {
  text-align: center;
  color: purple;
  font-size: 30px;
  text-decoration: underline;
}
p {
  font-size: 25px;
  text-align: center;
}
#name {
  color: blue;
}
#country {
  font-style: italic;
}
#age {
  color: brown;
}
#image_div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
}
#image_tag {
  height: 500px;
  border-radius: 50%;
}
